{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <h2 style="margin-left:80%"><a href="/logout" ><button class="btn btn-primary">Logout</button></a></h2>
<div style="margin: 5% 0 0 0%">
   {% if 'username' in request.session %} 
        <h1 style='margin:-2% 0 0 0'>Hello, {{ request.session.Name }}</h1>
    {% endif %}
    <a href="/add-donor" ><h2 style="margin-left:80%"><button class="btn btn-primary">Add Donor</button></h2></a>
    <h5>Details of the donors</h5>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Blood Group</th>
            <th>Contact</th>

        </tr>
        {%for i in lst%}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.blood }}</td>
            <td>{{ i.contact }}</td>
            </tr>
        </tr>
        {% endfor %}
    </table>
     
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>


</body>


</html>